@import "tailwindcss";
@import "antd/dist/reset.css";
@custom-variant dark (&:where(.dark, .dark *));
.ant-input,
.ant-picker,
.ant-select {
  font-weight: 400;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0bfbf;
}

.ant-picker-range-arrow {
  display: none !important;
}
